// typography variables
$text-color: #212529;
$background-color: #fff;

//breakpoints
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;

// widths of containers
$small-device-width: 540px;
$medium-device-width: 720px;
$large-device-width: 960px;
$extra-large-device-width: 1140px;


