.announcement__text{
    color: $pink-color;

    a:link, a:visited{
        color: currentColor;
    }
}

.hacktober{
    font-family: squealerregular,serif;
    font-size: 5rem;
    color: $hacktober-color;
}

.magazine{
    font-family: lazer84regular,serif;
    text-shadow: -1px 0 $yellow-color, 0 1px $yellow-color, 1px 0 $yellow-color, 0 -1px $yellow-color;
    color:$pink-color;
    font-size: 6rem;
}

.decagon{
    color: $yellow-color;
    text-shadow: -1px 0 $pink-color, 0 1px $pink-color, 1px 0 $pink-color, 0 -1px $pink-color;
    font-size: 2rem;
    position: absolute;
    top: 6.5rem;
    right: 3rem;
}