.lead {
    font-size: 2rem;
    font-weight: 300;
  }

  .display-1 {
    font-size: 9.6rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .display-2 {
    font-size: 8.8rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .display-3 {
    font-size: 7.2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .display-4 {
    font-size: 5.6rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-5 {
    font-size: 4.0rem;
    font-weight: 300;
    line-height: 1.2;
  }