.announcement{
    background-color: #fff;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-holder{
    margin: 6rem 0;
    position: relative;
}

.flex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 35rem));
    grid-column-gap: 3rem;
    justify-content: center;
}

.github-container{
    text-align: center;
    margin-top: -2.6rem;
}

.username{
    font-size: 2rem;
    font-family: inherit;

}